@model admintaskcore.Models.Clinic

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clinic</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClinicName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClinicName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClinicImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClinicImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClinicDis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClinicDis)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClinicId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
