@model IEnumerable<core__task.Models.Doctor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Our Doctor</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
              Doctor Name
            </th>
            <th>
              Doctor Img
            </th>
            <th>
                Doctor Email
            </th>
            @*<th>
             Clinic
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorName)
                </td>
                <td>
                    <img src="~/image/@item.DoctorImg" width="80px;"/>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorEmail)
                </td>
           @*     <td>
                    @Html.DisplayFor(modelItem => item.Clinic.ClinicId)
                </td>*@
            @*   <td>
                    <a asp-action="Edit" asp-route-id="@item.DoctorId" class="btn btn-success">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DoctorId" class="btn btn-warning">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DoctorId" class="btn btn-danger">Delete</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>
